<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Create Tamagotchi</title>
</head>
<body>
  <form action="/tamagotchis">
    <label for="name">Enter the name of your Tamagotchi:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>